11 Portfolio
11.0 Basic Materials
  11.0.1 Introduction
    {Page;Portfolio;_}
11.1 Phase One (Due Wednesday)
  11.1.1 Celebrate: Final Projects
    {Assignment;Celebrate Final Projects;_;2016-12-14;30}
  11.1.2 Caption: Critiques
    {Discussion;Caption Critiques;_;2016-12-14;40}
11.2 Phase Two (Due Friday)
  11.2.1 Portfolios
    {Assignment;Portfolios;_;2016-12-16;200}
